body{
	background-image: url("./images/Background.png");
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #add6e8 !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #68aed2 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Pizza-toppings-sauce, #Pizza-base-image, #Pizza-toppings-cheese, #Pizza-toppings-sausage ,#Pizza-toppings-pepperoni, #Pizza-toppings-cheese-right, #Pizza-toppings-cheese-left {
        position: absolute;
        z-index: 2;
        left: 13.5%;
        right: auto;
        height: auto;
        width: 75vw;
        top: 12%
    }
    #logo-image{
        height: auto;
    width: 50%;
    top: -16px;
    right: 0;
    position: relative;
    }
    .collapsible{
        position: relative !important;
        top: 200px !important;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Pizza-toppings-sauce, #Pizza-base-image, #Pizza-toppings-cheese, #Pizza-toppings-sausage ,#Pizza-toppings-pepperoni , #Pizza-toppings-cheese-right, #Pizza-toppings-cheese-left{
        position: absolute;
        z-index: 2;
        left: 28.5%;
        height: auto;
        width: 45vw;
    }
    #logo-image{
        height: auto;
    width: 50%;
    top: -16px;
    right: 0;
    position: relative;
    }
    .collapsible{
        position: relative !important;
        top: 200px !important;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #Pizza-toppings-sauce, #Pizza-base-image, #Pizza-toppings-cheese, #Pizza-toppings-sausage ,#Pizza-toppings-pepperoni, #Pizza-toppings-cheese-right, #Pizza-toppings-cheese-left{
        position: absolute;
        z-index: 2;
        left: 28.5%;
        height: auto;
        width: 45vw;
        top:10%
    }
    #logo-image{
        height: auto;
    width: 35%;
    top: -27px;
    right: 0;
    position: relative;
    }
    .collapsible{
        position: relative !important;
        top: 200px !important;
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #Pizza-toppings-sauce, #Pizza-base-image, #Pizza-toppings-cheese, #Pizza-toppings-sausage ,#Pizza-toppings-pepperoni, #Pizza-toppings-cheese-right, #Pizza-toppings-cheese-left{
        position: absolute;
    z-index: 2;
    left: 37%;
    height: auto;
    width: 30vw;
    top: 13%;
    }
    #logo-image{
        height: auto;
        width: 30%;
        top: -35px;
        right: 0;
        position: relative;
    }
    .collapsible{
        position: relative !important;
        top: 200px !important;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #Pizza-toppings-sauce, #Pizza-base-image, #Pizza-toppings-cheese, #Pizza-toppings-sausage ,#Pizza-toppings-pepperoni, #Pizza-toppings-cheese-right, #Pizza-toppings-cheese-left{
        position: absolute;
        z-index: 2;
        left: 40%;
        height: auto;
        width: 20vw;
        top: 12%;
    }
    #logo-image{
        height: auto;
        width: 15%;
        top: -15px;
        right: 0;
        position: relative;
    }
    .collapsible{
        position: relative !important;
        top: 200px !important;
    }
    
}
